# Configurações da Empresa (Emitente / Destinatário)
COMPANY_NAME="ARBORETHO IMPORTS LTDA"
COMPANY_TRADE_NAME="ARBORETHO"
COMPANY_CNPJ="40484774000150"
COMPANY_IE="108282910"
COMPANY_CRT="1"

# Endereço da Empresa
COMPANY_STREET="RUA 19"
COMPANY_NUMBER="230"
COMPANY_COMPLEMENT="QUADRA 46, LOTE 08 E"
COMPANY_NEIGHBORHOOD="JD SANTO ANTONIO"
COMPANY_CITY_CODE="5208707"
COMPANY_CITY_NAME="Goiania"
COMPANY_UF="GO"
COMPANY_CEP="74853320"
COMPANY_COUNTRY_CODE="1058"
COMPANY_COUNTRY_NAME="Brasil"
COMPANY_PHONE="62992544599"

# Configurações do Servidor
FLASK_DEBUG=False
PORT=5000
