# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.env.local
.venv
env/
venv/
ENV/

# Temporary XML / Output files
danfe_transferencia_gerada.xml
*.tmp

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Deployment builds
.vercel
